body {
   font-size: 16px;
   font-family: "TT Lakes";
   line-height: 1.5;
}

/* .swiper {
   width: 100%;
   background: #f2f2f2;
} */
.brand-slider__title-box {
   padding: 16px;
}
.brand-slider__title {
   letter-spacing: -0.2px;
   text-transform: uppercase;
   color: #7e7e82;
}
.brand-slider .swiper-pagination {
   bottom: 38px;
}
.swiper-pagination-bullet {
   width: 12px;
   height: 12px;
}
.swiper-pagination-bullet-active {
   background-color: #7d7d7d;
}
.brand-slider {
   position: relative;
   padding: 16px 0 66px 16px;
   width: 100%;
   background: #f2f2f2;
}
.brand-slider__transparent-block {
   position: absolute;
   z-index: 2;
   right: 0;
   top: 8%;
   width: 24px;
   height: 81px;
   background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}
.brand-slider__slide {
   width: 240px;
   height: 74px;
}
.brand-slider__brand {
   width: 238px;
   height: 72px;
   border: 1px solid #eaeaea;
   border-radius: 6px;
   padding: 0 16px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #fff;
}

.brand-slider__brand:focus {
   border: 1px solid #ff76a0;
}

.brand-slider__show-more-button {
   display: none;
}

@media (min-width: 768px) {
   .brand-slider__transparent-block {
      display: none;
   }
   .brand-slider__title-box {
      padding: 24px;
   }
   .brand-slider {
      height: 200px;
      padding: 24px 24px 8px;
      transition: height 0.5s ease;
   }
   .brand-slider.brand-slider-full {
      height: 280px;
   }
   .brand-slider__wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 16px 24px;
   }
   .brand-slider__slide {
      width: 224px;
   }
   .brand-slider__brand {
      width: 222px;
   }
   .brand-slider__show-more {
      padding: 0 0 32px 32px;
      background: #f2f2f2;
   }
   .brand-slider__show-more-button {
      display: inline-block;
      position: relative;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1b1c21;
      background-color: transparent;
      padding-left: 24px;
   }
   .brand-slider__show-more-button::before {
      content: "";
      position: absolute;
      top: 37%;
      right: 90%;
      border-width: 0 2px 2px 0;
      border-style: solid;
      border-color: #84f4e1;
      padding: 2px;
      transform: rotate(45deg);
      transition: transform 0.3s ease 0s;
   }
   .brand-slider__show-more-button::after {
      content: "";
      position: absolute;
      top: 14%;
      right: 90%;
      border-width: 0 2px 2px 0;
      border-style: solid;
      border-color: #84f4e1;
      padding: 2px;
      transform: rotate(45deg);
      transition: transform 0.3s ease 0s;
      transform-origin: center center;
   }
   .brand-slider__show-more-button._show::before,
   .brand-slider__show-more-button._show::after {
      transform: rotate(225deg);
   }
   ._off {
      display: none;
   }
}

@media (min-width: 1120px) {
   .brand-slider {
      padding: 24px 32px 8px;
   }
   .brand-slider__wrapper {
      gap: 16px 32px;
   }
   .brand-slider__slide {
      width: 240px;
   }
   .brand-slider__brand {
      transition: background-color 0.4s ease 0s;
      width: 240px;
   }
   .brand-slider__brand:hover {
      background-color: #f7f7f7;
   }
   .brand-slider__show-more-button {
      transition: all 0.3s ease 0s;
   }
   .brand-slider__show-more-button:hover {
      color: #7e7e82;
   }
}
