html,
body {
   height: 100%;
   font-size: 14px;
   font-family: "TT Lakes";
   /* background-color: #333; */
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.header,
.main {
   width: 100%;
}

.main {
   flex: 1 1 auto;
}

.container {
   margin: 0 auto;
}

.header__row {
   padding: 18px 16px;
   background-color: #fff;
}
.header__row--fs {
   display: none;
}
.header__list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.header__list > li:first-child::after {
   content: url("../images/icons/menu/divider.svg");
   position: absolute;
   top: 11px;
   left: 172px;
}

.header__list--part1 {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__list--part2 {
   display: flex;
   position: relative;
}

.header__list--part1 li:first-child,
.header__list--part2 li:nth-child(4) {
   margin-right: 16px;
}

.header__list--part2 li:first-child,
.header__list--part2 li:nth-child(2),
.header__list--part2 li:nth-child(3) {
   display: none;
}

.header__button {
   background-color: #fff;
}

.main__info {
   background-color: #f8f8f8;
   padding: 24px 16px 35px;
   position: relative;
}
.main__title {
   margin-bottom: 24px;
}

.title::before {
   content: url("../images/icons/highlight.svg");
   position: absolute;
   top: 21px;
   left: 0;
   transform: matrix(-1, 0, 0, 1, 0, 0);
}

.title {
   font-size: 28px;
   line-height: 40px;
   font-weight: bold;
   letter-spacing: -0.6px;
   color: #1b1c21;
}

.main__list {
   display: flex;
   overflow-x: auto;
   margin-bottom: 24px;
}
.main__button {
   white-space: nowrap;
   height: 40px;
   padding: 8px 16px;
   font-size: 16px;
   color: #7e7e82;
   cursor: pointer;
   background-color: #f8f8f8;
}
.main__button--active {
   background: #ffffff;
   border: 2px solid #b8ffec;
   border-radius: 6px;
}
.main__text {
   letter-spacing: 0.2px;
   line-height: 18px;
   color: #1b1c21;
   margin-bottom: 16px;
}

.main__text:not(:nth-of-type(1)) {
   display: none;
}
.main__more-text {
   margin-bottom: 16px;
}
.main__next-text {
   font-size: 16px;
   line-height: 24px;
   letter-spacing: -0.2px;
   color: #1b1c21;
   background-color: #f8f8f8;
   margin-left: 8px;
}
.main__next-text::before {
   content: url("../images/icons/arrow-down.svg");
   padding-right: 16px;
}
.main__pic {
   display: block;
   margin: 0 -16px;
}
.main__image {
   width: 100%;
}

.fs-text {
   display: none;
}

@media (min-width: 768px) {
   .header__row {
      padding: 24px 24px;
   }

   .header__list--part1 li:first-child {
      margin-right: 40px;
   }

   .header__list > li:first-child::after {
      left: 60px;
   }

   .header__list--part2 li:first-child,
   .header__list--part2 li:nth-child(2),
   .header__list--part2 li:nth-child(3) {
      display: block;
   }

   .header__list--part2 li:not(:last-child) {
      margin-right: 16px;
   }

   .header__list--part2 li:nth-child(3) {
      margin-right: 42px;
   }

   .header__list--part2 li:nth-child(3)::after {
      content: url("../images/icons/menu/divider.svg");
      position: absolute;
      top: 4px;
      left: 171px;
   }

   .main__info {
      padding: 24px 24px 40px;
   }
   .main__title {
      margin-bottom: 32px;
   }

   .main__list {
      margin-bottom: 32px;
   }
   .main__company {
      display: flex;
   }
   .main__about {
      flex: 1 1 50%;
      margin-right: 48px;
   }
   .main__pic {
      margin: 0;
      flex: 1 1 50%;
   }
   .main__text:first-child {
      margin-bottom: 30px;
   }
   .main__text:not(:nth-of-type(1)) {
      display: block;
   }
   .main__image {
      border-radius: 7px;
   }
}

@media (min-width: 1120px) {
   .header__row--fs {
      display: block;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .header__row:first-child {
      display: none;
   }
   .header__row {
      background-color: #f8f8f8;
      padding: 42px 32px 8px;
   }
   .title::before {
      top: 42px;
   }
   .main__title {
      display: none;
   }
   .header__items {
      display: flex;
      align-items: center;
   }
   .header__button {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1b1c21;
      margin-right: 8px;
      align-self: center;
      position: relative;
      padding-right: 40px;
      background-color: #f8f8f8;
   }
   .header__button:first-child {
      margin-right: 32px;
   }
   .header__button:first-child::after {
      content: url("../images/icons/menu/repair.svg");
      padding-left: 8px;
      position: absolute;
      top: -9px;
      left: 124px;
   }
   .header__button:nth-child(2)::after {
      content: url("../images/icons/menu/checkstatus.svg");
      padding-left: 8px;
      position: absolute;
      top: -9px;
      left: 119px;
   }
   .main__info {
      padding: 0 32px 40px;
   }
   .main__list {
      overflow-x: hidden;
      flex-wrap: wrap;
      margin-bottom: 16px;
   }
   .main__image {
      margin-top: -9px;
   }
   .fs-text {
      display: inline;
   }
}
